<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Backup Storage">
        <setting id="zip" type="folder"    label="Choose Backup Storage Location"      default=""/>
		<setting id="mastercopy" type="bool" label="Create full duplicate backup AS WELL as a universal build" default="false"/>
        <setting type="lsep" label="[CR][CR]"/>
		<setting type="lsep" label="[COLOR=red]Universal Build:[/COLOR] Will work on any device and is trimmed down in size."/>
		<setting type="lsep" label="[CR][COLOR=blue]Full duplicate backup:[/COLOR] Will only work on your existing device."/>
		<setting type="lsep" label="[CR][CR]"/>
	</category>
    
	<category label="Show/Hide Content">
		<setting id="mainmenu" type="bool" label="Build Installer" default="true"/>
		<setting id="skins" type="bool" label="Skin Installer" default="true"/>
		<setting id="newbuild" type="bool" label="New Build Tools" default="false"/>
		<setting id="maintenance" type="bool" label="Maintenance Section" default="true"/>
		<setting id="guisettings" type="bool" label="GUI Settings" default="false"/>
	</category>
    
</settings>